* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background: linear-gradient(#84cc16, #a3470d, #4ade80)
}

body>h2 {
    color: white;
}

main {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.spanQtd {
    text-align: end;
}

button {
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(0, 255, 68);
    color: white;
}

.finish {
    display: none;
    flex-direction: column;
    gap: 10px;
}